<div class="search-wrap">
  <mat-form-field class="search-input-field">
    <input class="search-input" matInput #search (keyup.enter)="searchTweets(search.value)" maxlength="50" placeholder="What are you looking for?">
    <mat-hint align="start">Remaining symbols</mat-hint>
    <mat-hint align="end">{{50 - search.value.length}}</mat-hint>
  </mat-form-field>
  <button (click)="searchTweets(search.value)" mat-icon-button class="search-button">
    <mat-icon class="search-button-icon">search</mat-icon>
  </button>
</div>

<mat-list dense class="tweet-list">
  <h3 *ngIf="tweets.length" matSubheader>Last search matching tweets</h3>
  <div *ngFor="let tweet of tweets">
    <mat-list-item class="tweet-list-item">
      <a target="_blank" rel="noopener" [href]="'https://twitter.com/' + tweet.username"><img class="tweet-avatar" *ngIf="tweet.avatar" matListAvatar src={{tweet.avatar}}></a>
      <div class="tweet-text">{{tweet.text}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>